body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  text-align: center;
}

#root {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin: 80px 20px;
}

.move-button-list {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.move-button:focus {
  outline: none;
}

.move-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.move-icon {
  width: 60px;
  height: 60px;
}

.js-result {
  font-size: 32px;
  margin-top: 20px;
}

.js-moves {
  font-size: 24px;
  margin-top: 20px;
}

.score {
  font-size: 24px;
  margin-top: 20px;
}

.reset-score-button, .auto-play-button {
  display: block;
  margin: 40px auto 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.reset-score-button:hover, .auto-play-button:hover {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  #root {
    max-width: 600px;
    margin: 80px auto;
  }
}